@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.row>*{
    flex-shrink: 1;
}



*{
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	
}

.input-group-text{
    @extend .rounded-start;
}

.inputPrixT, .inputPrixU{
    @extend .rounded-end;
}

datalist option:hover{
	cursor: pointer;
}

.animatedin{animation: myAnim 1s ease 0s 1 normal forwards;}

.animatedout{animation: myAnim2 1s ease 0s 1 normal forwards;}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes myAnim2 {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

// Nouveau Client // 

.form-nouv-client{

	div{
		@extend .m-1, .p-1;
	}
}
