@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.row>*{
    flex-shrink: 1;
}



*{
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	
}

.input-group-text{
    @extend .rounded-start;
}

.inputPrixT, .inputPrixU{
    @extend .rounded-end;
}

datalist option:hover{
	cursor: pointer;
}

.animatedin{animation: myAnim 1s ease 0s 1 normal forwards;}

.animatedout{animation: myAnim2 1s ease 0s 1 normal forwards;}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes myAnim2 {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

// Nouveau Client // 

.form-nouv-client{

	div{
		@extend .m-1, .p-1;
	}
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
